.gif-section{
    height: 390px;
    width: 100%;
    overflow-y: scroll;
}
 
.live-gifs{
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}
.last{
    height: 390px;
    width: 100%;
    overflow-y: scroll;
    border: 1px solid black;
}
.gif-section-two{
    height: 280px;
    width: 100%;
    overflow-y: scroll;
}
.form-two{
    position: relative;
}
.emoji{
    position: absolute;
    margin-top: 10px;
    padding: 10px;
    text-align: end;
    color: #F3C648;
    cursor: pointer;
}
 
.text-post-btn{
    width: 97.5%;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    color: white;
    background-color: #1A6ED8;
}
 